<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rixx calculator</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div id="layout">
      <div class="header">
        <h1>Rixx calculator</h1>
        <h2>^o^</h2>
      </div>
      <div id="app" class="pure-g">
        <div class="pure-u-1-3">
          <div class="box">
            <div class="pure-g">
              <div class="pure-u-1-2">
                <h3>Runes</h3>
              </div>
              <div class="pure-u-1-2 align-right">
                <a class="pure-button" @click="showfilters = !showfilters">
                  {{ showfilters ? "hide" : "show" }} filters
                </a>
              </div>
            </div>
          </div>
          <div class="rune-filter" v-show="showfilters">
            <form class="pure-form pure-form-aligned">
              <fieldset>
                <div class="pure-control-group">
                  <label for="aligned-name">{{ zinabs }} zin</label>
                  <input
                    type="range"
                    id="aligned-name"
                    min="0"
                    max="100"
                    v-model="zinpct"
                  />
                </div>
                <div class="pure-control-group">
                  <label></label>
                  deselect all rune types
                </div>
                <div class="pure-control-group">
                  <label>equipment</label>
                  <input
                    type="checkbox"
                    id="rune-filter-equipment"
                    v-model="checked.equipment"
                  />
                </div>
                <div class="pure-control-group">
                  <label>stat</label>
                  <input
                    type="checkbox"
                    id="rune-filter-stat"
                    v-model="checked.stat"
                  />
                </div>
                <div class="pure-control-group">
                  <label>bonus</label>
                  <input
                    type="checkbox"
                    id="rune-filter-bonus"
                    v-model="checked.bonus"
                  />
                </div>
                <div class="pure-control-group">
                  <label>hp/sp/ep max</label>
                  <input
                    type="checkbox"
                    id="rune-filter-hpspepmax"
                    v-model="checked.hpspepmax"
                  />
                </div>
                <div class="pure-control-group">
                  <label>spell/skill</label>
                  <input
                    type="checkbox"
                    id="rune-filter-spellskill"
                    v-model="checked.spellskill"
                  />
                </div>
                <div class="pure-control-group">
                  <label>weight</label>
                  <input
                    type="checkbox"
                    id="rune-filter-weight"
                    v-model="checked.weight"
                  />
                </div>
                <div class="pure-control-group">
                  <label>exp rate</label>
                  <input
                    type="checkbox"
                    id="rune-filter-exprate"
                    v-model="checked.exprate"
                  />
                </div>
                <div class="pure-control-group">
                  <label>haste</label>
                  <input
                    type="checkbox"
                    id="rune-filter-haste"
                    v-model="checked.haste"
                  />
                </div>
                <div class="pure-control-group">
                  <label>special</label>
                  <input
                    type="checkbox"
                    id="rune-filter-special"
                    v-model="checked.special"
                  />
                </div>

                <div class="pure-control-group">
                  <label>
                    slots
                  </label>
                  <input
                    type="checkbox"
                    id="runefilter-slots-0"
                    v-model="checked.slots0"
                  />
                  <=0
                  <input
                    type="checkbox"
                    id="runefilter-slots-1"
                    v-model="checked.slots1"
                  />
                  1
                  <input
                    type="checkbox"
                    id="runefilter-slots-2"
                    v-model="checked.slots2"
                  />
                  2
                  <input
                    type="checkbox"
                    id="runefilter-slots-4"
                    v-model="checked.slots4"
                  />
                  >=4
                </div>
              </fieldset>
            </form>
          </div>
          <template v-for="item in filteredRunes" :key="`item${item.index}`">
            <div class="box rune">
              <div class="pure-g">
                <div class="pure-u-1-3">
                  <div class="left">
                    <span class="index">{{ item.index }} #&nbsp;&nbsp;</span
                    ><br /><br />
                    <span class="zincost">{{ item.zinium }} zin</span><br />
                    <span class="slots">
                      {{ item.slots > 0 ? "+" : "" }}{{ item.slots }} slo </span
                    ><br />
                    <span class="blueprint" v-if="item.blueprint"
                      >{{ item.blueprint }} bp&nbsp;</span
                    >
                  </div>
                </div>
                <div class="pure-u-2-3">
                  <div class="right">
                    <span class="shortname">{{ item.shortname }}</span
                    ><br /><br />
                    <span class="longname">{{ item.longname }}</span><br />
                  </div>
                </div>
              </div>
            </div>
          </template>
        </div>
        <div class="pure-u-1-3">
          <div class="equipment">
            <div class="box"><h3>Equipment 1</h3></div>
            <div class="box empty">
              fds
            </div>
            <div class="box"><h3>Equipment 3</h3></div>
            <div class="box empty">
              fds
            </div>
          </div>
        </div>
        <div class="pure-u-1-3">
          <div class="box"><h3>Equipment 2</h3></div>
        </div>
      </div>
      <div id="app"></div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      const Equipment = {
        template: `
           <div>{{ message }}</div>
         `,
        setup() {
          // Use the reusable logic in the component setup
          const message = "Equipment";

          return {
            message,
          };
        },
      };

      const mapLogarithmic = (value, inMin, inMax, outMin, outMax) => {
        const inRange = inMax - inMin;
        const outRange = Math.log(outMax / outMin);
        const scale = outRange / inRange;

        return Math.exp(scale * (value - inMin)) * outMin;
      };

      const app = Vue.createApp({
        data() {
          return {
            checked: {
              equipment: true,
              stat: true,
              bonus: true,
              hpspepmax: true,
              spellskill: true,
              weight: true,
              exprate: true,
              haste: true,
              special: true,
              slots0: true,
              slots1: true,
              slots2: true,
              slots4: true,
            },
            runes: [],
            zinpct: 44,
            showfilters: true,
          };
        },
        created() {
          fetch("data.json")
            .then((response) => {
              if (!response.ok) {
                throw new Error("Network response was not ok");
              }
              return response.json();
            })
            .then((data) => (this.runes = data))
            .catch((error) => {
              console.error("There was a problem loading the data:", error);
            });
        },
        components: {
          Equipment,
        },
        computed: {
          filteredRunes() {
            return this.runes.filter(
              (rune) =>
                // zin
                rune.zinium <= this.zinabs &&
                // type
                ((this.checked.equipment && rune.tags.includes("equipment")) ||
                  (this.checked.stat && rune.tags.includes("stat")) ||
                  (this.checked.bonus && rune.tags.includes("bonus")) ||
                  (this.checked.hpspepmax && rune.tags.includes("hpspepmax")) ||
                  (this.checked.spellskill &&
                    rune.tags.includes("spellskill")) ||
                  (this.checked.weight && rune.tags.includes("weight")) ||
                  (this.checked.exprate && rune.tags.includes("exprate")) ||
                  (this.checked.haste && rune.tags.includes("haste")) ||
                  (this.checked.special && rune.tags.includes("special"))) &&
                // slots
                ((this.checked.slots0 && rune.slots >= 0) ||
                  (this.checked.slots1 && rune.slots === -1) ||
                  (this.checked.slots2 && rune.slots === -2) ||
                  (this.checked.slots4 && rune.slots <= -4))
            );
          },
          zinabs() {
            return Math.round(mapLogarithmic(this.zinpct, 0, 100, 50, 50000));
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
